<div class="category_container">
	<strong>{{$ctrl.category.name}}</strong>
</br>
<hr>
<div data-ng-repeat="$i in $ctrl.category.products">
	<a  ng-click="$ctrl.nome = $i.name; $ctrl.price = $i.price; $ctrl.img_path = $i.img_path; $ctrl.quantidade=0; $ctrl.valor = 0" href="#" data-toggle="modal" data-target="#myModal">
		<div class="item_container" >
			<img class="menu_item" src="/images/menu/{{$i.img_path}}" />
		</br>
		<span>R${{$i.price}}</span>
	</br>
	<strong>{{$i.name}}</strong>

</div>
</a>	
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
		
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<center><h4 class="modal-title" style="color: black"><strong>{{$ctrl.nome}}</strong></h4></center>
			</div>
			<div class="modal-body" style="color: black">
			<center>
				<img class="modal_img" src="/images/menu/{{$ctrl.img_path}}" />
				<div id="malditos_botoes" class="btn-group input-group col-lg-4 " role="group" aria-label="Default button group">
					<button ng-click="$ctrl.quantidade = $ctrl.quantidade-1; $ctrl.valor = ($ctrl.price * $ctrl.quantidade)" type="button" class="btn btn-default">-</button> 
					<input type="text" class="form-control meio" value="{{$ctrl.quantidade}}"/> 
					<button ng-click="$ctrl.quantidade = $ctrl.quantidade+1; $ctrl.valor = ($ctrl.price * $ctrl.quantidade)" type="button" class="btn btn-default">+</button> 
					<span id="valor_item">R${{$ctrl.valor}}</span>
				</div>
				</center>
			</div>
			<div class="modal-footer">

				<button id="btn_modal" ng-click = "$ctrl.valor_total = 500;" type="button" class="btn btn-success" data-dismiss="modal">Comprar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>

	</div>
</div>
</div>

